NEXT_PUBLIC_supabase_SUPABASE_URL=""
NEXT_PUBLIC_supabase_SUPABASE_ANON_KEY=""
supabase_SUPABASE_SERVICE_ROLE_KEY=""
supabase_POSTGRES_URL_NON_POOLING=""
LEMONSQUEEZY_API_KEY=""
LEMONSQUEEZY_STORE_ID=""
LEMONSQUEEZY_PRO_MONTHLY_VARIANT_ID=""
LEMONSQUEEZY_PRO_ANNUAL_VARIANT_ID=""
LEMONSQUEEZY_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="https://multilinks-app.vercel.app"
